<!DOCTYPE html>
<html>
    <head>
        <title>Title of the document</title>
    </head>

    <body>
        <div>
            <span>plainAvatar</span>
            <img src="data:image/jpg;base64,{{ plainAvatar }}" >
        </div>
        <div>
            <span>profileAvatar</span>
            <img src="data:image/jpg;base64,{{ profileAvatar }}" >
        </div>
    </body>

</html> 
